
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #000080;
/*  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 98%; /* Full width */
  padding: 1%
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;

  margin-left: 5px;
  
}
.navbar :first-child {
  border: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
  border: 1px solid #bbb;
  border-radius: 5%;
}

/* Main content */
.main {
   margin: 0.5em;
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
/* couleur du site*/
.lien {
  color : #AC441A;
}
.parag {
  color : #000000
}
.contenu {
  background-color: #000080;
  max-width: 1200px;
  margin : auto;
  padding:1em;

}
.cote {
  background-color: #000080;
}
.interligne {
  color : #000080;
}
/* Foot Bar */
.footbar{
  text-align:center;
  background-color:#000080;
  padding-top: 1em;
  padding-bottom: 1em;
}