<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Page principale</title>
    <link rel="stylesheet" href= "css/main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
		<div class="left">
			<div class="icon_lln">
			<a href="/home.html"><img src="img/chainaffond.jpg" alt="Logo Chaineaffond">
			</div>
			<h1>Chaine Affond</h1></a>
		</div>
	  <div class="header-right">
		<table>
			<tbody>
				<tr>
					<td>
						<form>
							<input type="text" placeholder="Champ de recherche">
						</form>
					</td>
					<td>
						<p>Username</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</header>
	<div class="main page">
	  <div class="container">
	    <div class="left">
		  <a href="new.html">Signaler un incident</a><p>  </p><a href="index.html"> Historique</a>
		</div>
	    <div class="right">
		  <p>25/09/21</p>
		</div>
	  </div>
	  <table style="width:100%">
	    <tbody>
		  <tr>
			<th>Description</th>
			<th>Adresse</th>
			<th>Rapporté par</th>
			<th>Date</th>
		  </tr>
		  <tr>
		    <td>Encombrants sur voie publique</td>
			<td>Rue du Grand Hornu, 11</td>
			<td>Jean Dupont</td>
			<td>16/09/21
		  </tr>
		  <tr>
		    <td>Poubelles non ramassées</td>
			<td>Avenue des Arts, 49</td>
			<td>Sylvie Roisin</td>
			<td>22/09/21
		  </tr>
	    </tbody>
	  </table>
	</div>
  </body>
</html>