<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href= "css/main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
		<div class="left">
			<div class="icon_lln">
			<a href="/home.html"><img src="img/chainaffond.jpg" alt="Logo Chaineaffond">
			</div>
			<h1>Torpille-Chaine</h1></a>
		</div>
	  <div class="header-right">
		<ul>
			<li><a href="new.html">Envoyer une Torpille</a></li>
			<li><a href="index.html">Historique</a></li>
			<li><a href="login.html">Se connecter</a></li>
			<li><a href="register">S'inscrire</a></li>
			<li><form form action="search"  method="get">
				<input type="text" name="searched" placeholder="Champ de recherche">
				<input type="submit" value="Rechercher">
			</form></li>
		  </ul>
		  
		
	</div>
	</header>
	<div class="main page">
		<div class= home_center>
		<table style="width:100%">
		  <h1>Torpille-Chaine</h1>
		  <h3>Le jeu qui animera toute vos soirées !</h3>
		  <p>Bonjour, vous voici sur la page d'accueil du jeu Torpille-Chaine.</p>
		  <p>Celui-ci est inspiré d'un jeu étudiant qui consiste en l'envoi de "Torpille" d'un joueur à l'autre.<br>
			 Mais qu'est-ce une torpille ? C'est une bière à boire très vite. 
			 <br>Une fois votre bière vidée, vous pouvez nominer quelqu'un d'autre et ainsi de suite.</p>

		</div>
		
	  </div>
  </body>
</html>