<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Historique</title>
    <link rel="stylesheet" href= "css/main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
		<div class="left">
			<div class="icon_lln">
			<a href="/home.html"><img src="img/chainaffond.jpg" alt="Logo Chaineaffond">
			</div>
			<h1>Torpille-Chaine</h1></a>
		</div>
	  <div class="header-right">
		<ul>
			<li><a href="new.html">Envoyer une Torpille</a></li>
			<li><a href="index.html">Historique</a></li>
			<li><a href="login.html">Se connecter</a></li>
			<li><a href="register.html">S'inscrire</a></li>
			<li><form form action="search"  method="get">
				<input type="text" name="searched" placeholder="Champ de recherche">
				<input type="submit" value="Rechercher">
			</form></li>
		  </ul>
	</header>
  		<div class="index_content">
    		<h1>Historique des affonds </h1>
			<div class="index_data">
			<table>
				<tr> 
					<td >Date</td>
					<td>Emetteur</td>
					<td>Destinataire</td>
					<td>Commentaire</td>
					<td>Numéro</td>   
				</tr>
				{{#repo}}
			</div>
				<tr> 
					<td>{{date}}</td>
					<td>{{Envoyeur}}</td>
					<td>{{Receveur}}</td>
					<td>{{Commentaire}}</td>
					<td>{{num}}</td>   
				</tr>
				{{/repo}}
			</table>
  		</div>
  </body>
</html>