<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>new</title>
    <link rel="stylesheet" href= "css/main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="left">
				<div class="icon_lln">
				<a href="/home.html"><img src="img/chainaffond.jpg" alt="Logo Chaineaffond">
				</div>
				<h1>Chaine Affond</h1></a>
			</div>
		  <div class="header-right">
			<table>
				<tbody>
					<tr>
						<td>
							<form>
								<input type="text" placeholder="Champ de recherche">
							</form>
						</td>
						<td>
							<p>Username</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		</header>

		<h2>Ajouter un Nouvel Affond</h2>
		<h4>Décrivez votre affond !</h4>
			<textarea name="textarea" placeholder="Déscription de l'affond que vous avez fait."
				rows="10" cols="50"></textarea>
		<input type="button" value="Soumettre">
		<h4>Lanez un affond!</h4>
			<textarea name="textarea" placeholder="Décrivez l'affond que vous lancez."
				rows="10" cols="50"></textarea>
		<input type="button" value="Soumettre">
		<form>
			<input type="text" placeholder="Mentionnez l'utiisateur.">
		  </form>
	</body>
</html>	