

header .left{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

header img{
	height: 100%;
	width: 100%;
}

header h1{
	font-family: 'Yaldevi', sans-serif;
	font-size: 30px;
	padding-left: 25px;
	padding-top:5px;
	color: black;
}

header .header-right {
	margin-left: auto;
	text-align: right;
	padding: 15px;
}

header .header-right p{
	color: black;
	font-size: 20px;
	padding: 15px 15px;
	padding-right: 20px;

}

header .left .icon_lln .logo{
	width: 150px;
	height: 150px;
}

.content {
	padding-left: 10px;
	padding-right: 10px;
}
body {
	margin : 0px;
}
.table_id td{
	padding: 10px;
}

header object.top_nav {
	position: right;

}
iframe.head1 {
	width: 100%;
	border: none;
}