
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #000080;
/*  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 98%; /* Full width */
  padding: 1%
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;

  margin-left: 5px;
  
}
.navbar :first-child {
  border: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
  border: 1px solid #bbb;
  border-radius: 5%;
}

/* Main content */
.main {
   margin: 0.5em;
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
/* couleur du site*/
.lien {
  color : #AC441A;
}
.parag {
  color : #000000
}
.contenu {
  background-color: #000080;
  max-width: 1200px;
  margin : auto;
  padding:1em;

}
.cote {
  background-color: #000080;
}
.interligne {
  color : #000080;
}
/* Foot Bar */
.footbar{
  text-align:center;
  background-color:#000080;
  padding-top: 1em;
  padding-bottom: 1em;
}
.register-page{
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}
.form{
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}
.form input{
  font-family: "Consolas";
  outline: 1;
  width: 100%;
  border: 0;
  background: #f2f2f2;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button{
  font-family: "Consolas";
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover,.form button:active{
  background: #43A047;
}
.form message{
  margin: 15px 0 0;
  color: aliceblue;
  font-size: 12px;
}